// Brand colors
$reconext-blue: #375ea9;
$reconext-light-blue: #a9bbe2;
$reconext-light-green: #c6e0bc;
$reconext-light-grayblue: #c5ceda;
$reconext-light-graygreen: #cacaca;
$reconext-cool-gray9: #76777a;
$reconext-cool-gray7: #97999a;
$reconext-green: #45ae52;
