// Brand colors
$reconext-blue: #375ea9; // Pantone PMS7455
$reconext-light-blue: #a9bbe2;
$reconext-light-green: #c6e0bc;
$reconext-light-grayblue: #c5ceda; // Pantone PMS538
$reconext-light-graygreen: #cacaca; // Pantone PMS420
$reconext-cool-gray9: #76777a; // Pantone PMS Cool Gray9
$reconext-cool-gray7: #97999a; // Pantone PMS Cool Gray7
$reconext-green: #45ae52; // Pantone PMS7738
